.headertwo {
    padding-top: 52px;
    display: flex;
    align-items: center;
    &__logo {
        left: 205px;
        top: 31px;   
    }
    &__name {
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        margin-right: 40px;
        a {
            text-decoration: none;
            color: rgb(255, 255, 255)
        }
        
        
    }
    &__our {
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        margin-right: 40px;
        a {
            text-decoration: none;
            color: rgb(255, 255, 255)
        }
    }
    &__pleasure {
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        margin-right: 40px;
        a {
            text-decoration: none;
            color: rgb(255, 255, 255)
        }
    }
    &__descr {
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: 700;
        line-height: 58px;
    }
    
    
}